/* Định dạng form và cài đặt khoảng cách */
form {
    margin-top: 20px;
  }
  
  /* Định dạng tiêu đề */
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Định dạng input */
  .ant-input {
    width: 100%;
  }
  
  /* Định dạng nút Thêm mới */
  .ant-btn-primary {
    width: 100%;
  }
  
  /* Định dạng các label */
  .ant-form-item-label {
    text-align: right;
    padding-right: 10px;
  }
  
  /* Định dạng các lỗi validation message */
  .ant-form-item-explain-error {
    color: red;
  }
  
  /* Định dạng select box */
  .ant-select {
    width: 100%;
  }
  
  /* Định dạng select box khi được mở ra */
  .ant-select-open .ant-select-selector {
    border-color: #1890ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
  